body{
    margin: 0;
}
header nav{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #B0C4FD;
}
header ul {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 55%;
    margin: 0;
}
header ul li{
    list-style-type: none;
}
header ul a{
    text-decoration: none;
} 
    
.image{
    width: 10%;
    cursor: pointer;
}

.button {
    border: none;
    color: #f3f3f3;
    padding: 16px 32px;
    text-align: center;
    opacity: 1;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
  }
  
  .button:hover {
      opacity: 0.6;
      color: #000;
    }

  /* --------------------------------------- */
  main {
    background-color: #E4EAFC;
}
main img{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;

}